@font-face {
  font-family: "Poppins", sans-serif;
}
.cards-container {
  display: flex;
  flex-direction: column;
}
.blog-title {
  text-align: center;
}
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.author {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 10px;
}
